<section class="get_in_touch">
    <h1 class="title">Tem certeza?</h1>
    <div class="container">
      <div class="contact-form row">
        <div class="form-field col-lg-12 d-flex justify-content-center">
          <h4 class="text-center text-secondary">Todas as postagens
            relacionadas a ele serão igualmente apagadas. Deseja apagar esse tema?</h4>
        </div>
        <div class="row mb-4">
            <div class="col-lg-12">
                <h5 class="text-center text-primary">Tema: {{tema.titulo}}</h5>
            </div>
        </div>
    
        <hr>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <button class="btn btn-danger mr-4" routerLink='/tema'>Não</button>
                <button class="btn btn-success" (click)='apagar()'>Sim</button>
            </div>
        </div>
      </div>
    </div>
</section>