.container-fluid{
    background-image: url("src/assets/img/fundo02.jpg");

}

.get_in_touch
{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.5);
    padding: 50px;
    background-color: white;
    border-radius: 3%;
}
.title
{
    font-family: 'Roboto';
    margin-top: -10%;
    /*text-transform: uppercase;*/
    text-align: center;
    /*letter-spacing: 3px;*/
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    background: #808080;
    /*color: #5543ca;
    /*background:linear-gradient(to right, #24ff72 0%, #9a4eff 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.form-field
{
    position: relative;
    margin: 32px 0;
}
.input-text
{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #353839;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label
{
    transform: translateY(-24px);
}
.input-text:focus
{
    outline: none;
}
.label
{
    position: absolute;
    left: 20px;
    bottom: 11px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #353839;
    cursor: text;
    
    transition: transform 0.2s ease-in-out;
}
/*
.submit-btn
{
    display: inline-block;
    background-image: linear-gradient(125deg, #24ff72,#9a4eff);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 30px;
    border: none;
    width: 200px;
    cursor: pointer;
}
*/

.btn-editar{
    background: #8BAD4D;
    color: white;
    width: 80px;
    height: 40px;
}

.btn-cadastrar{
    background: #8BAD4D;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    margin-bottom: 30px;
}

.btn-apagar{
    background: #947BA0;
    color: white;
    width: 80px;
}


.btn-cancelar{
    background: #947BA0;
    color: white;
    width: 90px;
    height: 40px;
    text-align: center;
}

.modal-content{
    border-radius: 20px;
    border: none;
}